@model IEnumerable<WWS_DMA.Domain.Entities.JobDetail>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Jobs";
}

<h2>Jobs</h2>

<p>@Html.ActionLink("Create", "New")</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FieldName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WellName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FieldName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WellName)
            </td>
        </tr>
    }
</table>
